<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <!-- <h4 style="color:red;">Home page</h4> -->
    <!-- <h2> testing if the page will work</h2> -->
    <div class="py-4">

      <div class="card text-dark bg-light mb-3" style="max-width: 800px;">
        <h3 class="card-header">Game title: <%= results.data[1].name %></h3>
        <img src="<%= results.data[1].screenshots[0].url %>" class="img-thumbnail" alt="..." width="300">
        <div class="card-body">
          <!-- Game description here: -->
          <p>Game Stats:</p>
          <p>Summary: <%= results.data[1].summary %></p>
          <p> <%= results.data[1].url %></p>      
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <form action="/newGame" method="GET"><button type="button" class="btn btn-primary btn-lg">Next Game >>></button></form>
        <button type="button" class="btn btn-danger btn-lg">Save Game</button>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>