<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <!-- <h4 style="color:red;">Home page</h4> -->
    <!-- <h2> testing if the page will work</h2> -->
    <table>
      <thead>
          <th><centre>Event name:</centre></th>
          <th><centre>Event url:</centre></th>
          <th><centre>Event location:</centre></th>
      </thead>
      <tbody>
        <!-- <td> <%# results.data %></td>
        <td> <%# results.data.game %></td> -->
        <td> <%= results.data[0].name %></td>
      </tbody>
    <div class="py-4">
      <div class="card text-dark bg-light mb-3" style="max-width: 800px;">
        <h3 class="card-header">Game title: <%= results.data[3].name %></h3>
        <img src="../../resources/img/controller.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- Game description here: -->
          <p>Game Stats:</p>
          <p>Summary: <%= results.data[3].summary %></p>
          <br> <!-- Better way of doing this? -->
          <br>
          <div class="col-md-8 mx-auto">
            <button type="button" class="btn btn-danger">Save Game</button>
            <button type="button" class="btn btn-primary">Next Game >>></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>