<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>
<main>
    <div class="container">
        <h1>My Profile</h1>
            <p>Welcome User</p>
        <h3>My Saved Games</h3>
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
          <% game.forEach(games => { %>
          <div class="col">
            <div class="card">
              <img src="<%= games.cover %> " class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= games.name %> </h5>
                <h4 class ="card-body"><%= games.storyline %></h4>
                <h3 class="card-body"> <span> Game genre: <%= games.genres%></span><br><span>Game rating: <%= game.release_dates%></span></h3>

              </div>
              
            </div>
          </div>
          <% }) %> 
  
    </div>
    </div>
  </main>


<%- include ('../partials/footer') %>