<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>
<main>
  <br>
  <div class="container">
      <h1>My Profile</h1>
      <br>
      <h3>My Saved Games</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% games.forEach(games => { %>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title"><%= games.game_name%> </h5>
            </div>
            <div class="card-body">
              <a href="/home?game_id=<%=games.game_id%>">More info</a>
            </div>
          </div>
        </div>
        <% }) %>
  </div>
  </div>
</main>
<%- include ('../partials/footer') %>